[submodule "linux"]
	path = linux
	url = https://github.com/torvalds/linux.git
[submodule "patchsets/ClearLinux"]
	path = patchsets/ClearLinux
	url = https://github.com/clearlinux-pkgs/linux
[submodule "patchsets/WireGuard"]
	path = patchsets/WireGuard
	url = https://git.zx2c4.com/WireGuard
